<article class="movie-detail-wrapper">
  <!-- use movie$ -->
  <ui-detail-grid>
    <div detailGridMedia>
      <!-- img w780, h1170 class="aspectRatio-2-3 fit-cover" -->

    </div>
    <div detailGridDescription>
      <header>
        <!-- h1 title -->
        <!-- h2 tagline -->
      </header>
      <section class="movie-detail--basic-infos">
        <!-- ui-star-rating -->
        <!-- vote_average -->
        <div class="movie-detail--languages-runtime-release">
          <!-- <strong> languages_runtime_release -->
        </div>
      </section>
      <section>
        <h3>The Genres</h3>
        <div class="movie-detail--genres">
          <!-- "movie-detail--genres-link genre links -->
        </div>
      </section>
      <section>
        <h3>The Synopsis</h3>
        <!-- p overview || 'not available text' -->
      </section>
      <section>
        <h3>The Cast</h3>
        <div class="movie-detail--cast-list">
          <div class="cast-list">
            <!-- credits$ -->
            <!-- class="movie-detail--cast-actor" -->
            <!-- <img
                loading="lazy"
                [src]="
                  c?.profile_path
                    ? 'https://image.tmdb.org/t/p/w185' + c.profile_path
                    : 'assets/images/no_poster_available.jpg'
                "
                [alt]="c.name"
                [title]="c.name"
              />
              -->
          </div>
        </div>
      </section>
      <section class="movie-detail--ad-section-links">
        <!-- homepage -->
        <a
          class="btn"
          target="_blank"
          rel="noopener noreferrer"
        >
          Website
          <svg-icon class="btn__icon" name="website"></svg-icon>

        </a>
        <!-- (ngIf) ? imdb_id -->
        <a
          class="btn"
          target="_blank"
          rel="noopener noreferrer"
          [href]="'https://www.imdb.com/title/'"
        >
          IMDB
          <svg-icon class="btn__icon" name="imdb"></svg-icon>
        </a>
        <!-- (ngIf) ? imdb_id -->
        <a
          class="btn"
        >
          Trailer
          <svg-icon class="btn__icon" name="play"></svg-icon>
        </a>
        <!-- TODO: create dialog with iframe embed -->
        <!-- back function -->
        <button class="btn primary-button">
          <svg-icon class="btn__icon" name="back" size="1em"></svg-icon>&nbsp;Back
        </button>
      </section>
    </div>
  </ui-detail-grid>
  <!-- loader template -->
</article>
<article>
  <header>
    <h1>Recommended</h1>
    <h2>Movies</h2>
  </header>

  <!-- movie list with loader -->

<!--  <movie-list></movie-list>-->

</article>
